* {
  padding: 0;
  margin: 0;
  border: 0;
  font: normal 18px Arial, Helvetica, sans-serif;
}

*:not(button):not(input) {
  -webkit-user-select: none;
  user-select: none;
}

html {
  width: 1000px;
  height: 700px;
  overflow: hidden;
  font-weight: 700;
  box-sizing: border-box;
  background-color: #2E3440;
}

body {
  width: 100%;
  height: 100%;
  color: #D8DEE9;
}

button {
  padding: 8px;
}

#header {
  padding: 20px;
  display: block;
  border-bottom: 1px solid #585d66;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  height: 23px;
  background-color: #2E3440;
}

#header > * {
  display: inline;
  vertical-align: sub;
}

#reload {
  margin-top: -8px;
  float: right;
}

#body {
  width: 1000px;
  height: 633px;
  position: relative;
}

#left {
  width: 779px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#right {
  padding: 10px;
  width: 200px;
  height: 100%;
  border-left: 1px solid #585d66;
  position: absolute;
  top: 0;
  right: 0;
}

#right > * {
  display: block;
  text-align: center;
  overflow: visible;
}

#right > span[title] {
  position: relative;
}

#right > span[title]:hover:after {
  background-color: #2E3440;
  bottom: 26px;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  border: 1px solid #585d66;
}

#search {
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 7px;
  display: block;
  border-bottom: 1px solid #585d66;
}

#container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 582px;
}

.fuzzy-search {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 7px 14px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 18px/0 Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.3) inset;
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.3) inset;
}

button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 18px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 18px/0 Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0199d9;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
}

#province_text, #name_text {
  min-height: 21px;
}

.item {
  padding: 5px 10px;
  border-bottom: 1px solid #585d66;
  background-color: #2E3440;
}

.item:last-of-type {
  border-bottom: none;
}

.item span {
  font-size: 26px;
}

.item .province {
  float: right;
}

.item .id {
  display: none;
}

.list {
  position: relative;
}

.list:after {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  content: "Nothing here.";
  padding: 5px 10px;
  border-bottom: 1px solid #585d66;
  z-index: -1;
  width: 100%;
}
